<main class="main layout__container-main">
    <div class="layout__container-main-search">
    </div>

    <div class="layout__container_center">

        <h1 class="main-title main-title_mar main-title_bb">All Categories <span class="main-title__found">4 books</span></h1>

        <div class="bookcards-wrap bookcards_margin">
            <!-- card 1-->
            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover bk-cover_img_1"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left bk-left_1"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">Benjamin Franklin: An American Life</h3>
                    <p class="bookcard__author">by Walter Isaacson</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a id="book01" class="button-type-one button_bottom" href="#animatedModal">Details</a>
                </div>
            </div>
            <!-- card 2-->

            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover bk-cover_img_2"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left bk-left_2"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">God Found Us You</h3>
                    <p class="bookcard__author">by Lisa Tawn Bergren and Laura J. Bryant</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a class="button-type-one button_bottom" href="#">Details</a>
                </div>
            </div>
            <!-- card 3-->
            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover bk-cover_img_3"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left bk-left_3"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">The Ramayana: A Shortened Modern Prose Version of the Indian Epic
                    </h3>
                    <p class="bookcard__author">by Walter Isaacson</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a class="button-type-one button_bottom" href="#">Details</a>
                </div>
            </div>
            <!-- card 4-->
            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover bk-cover_img_4"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left bk-left_4"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">The Annotated Pride and Prejudice </h3>
                    <p class="bookcard__author">by Jane Austen and David M. Shapard</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a class="button-type-one button_bottom" href="#">Details</a>
                </div>
            </div>
            <!-- card 1-->
            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover bk-cover_img_1"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left bk-left_1"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">Benjamin Franklin: An American Life</h3>
                    <p class="bookcard__author">by Walter Isaacson</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a class="button-type-one button_bottom" href="#">Details</a>
                </div>
            </div>
            <!-- card 2-->

            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover bk-cover_img_2"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left bk-left_2"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">God Found Us You</h3>
                    <p class="bookcard__author">by Lisa Tawn Bergren and Laura J. Bryant</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a class="button-type-one button_bottom" href="#">Details</a>
                </div>
            </div>
            <!-- card 3-->
            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover bk-cover_img_3"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left bk-left_3"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">The Ramayana: A Shortened Modern Prose Version of the Indian Epic
                    </h3>
                    <p class="bookcard__author">by Walter Isaacson</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a class="button-type-one button_bottom" href="#">Details</a>
                </div>
            </div>
            <!-- card 4-->
            <div class="bookcard">
                <div class="bk-img">
                    <div class="bk-wrapper">
                        <div class="bk-book bk-bookdefault">
                            <div class="bk-front">
                                <div class="bk-cover"></div>
                            </div>
                            <div class="bk-back"></div>
                            <div class="bk-left"></div>
                        </div>
                    </div>
                </div>
                <div class="bookcard__container">
                    <h3 class="bookcard__title">The Annotated Pride and Prejudice </h3>
                    <p class="bookcard__author">by Jane Austen and David M. Shapard</p>
                    <p class="bookcard__year"><i class="fas fa-pencil-alt"></i>December 2017</p>
                    <a class="button-type-one button_bottom" href="#">Details</a>
                </div>
            </div>
            <!-- button bottom-->
        </div>
        <a class="button-type-two button-type-two_mar" href="#">Load more ...</a>
        <!--Table cards-->
        <div class="layout__container_center">
            <table class="table-cards bookcards_margin">
                <thead>
                    <tr>
                        <th class="table-cards__title">TITLE</th>
                        <th class="table-cards__title">AUTHORS</th>
                        <th class="table-cards__title">PUBLISHED</th>
                        <th class="table-cards__title">DETAILS</th>
                    </tr>
                </thead>
                <tbody class="table-cards__hover">
                    <tr class="table-cards__row">
                        <td class="table-cards__text">Теоретический минимум по Computer Science</td>
                        <td class="table-cards__text">Владстон Феррейра Фило</td>
                        <td class="table-cards__text">December 2018</td>
                        <td class="table-cards__text"><i class="fas fa-arrow-right"></i></td>
                    </tr>
                    <tr class="table-cards__row">
                        <td class="table-cards__text">Benjamin Franklin: An American Life</td>
                        <td class="table-cards__text">Walter Isaacson</td>
                        <td class="table-cards__text">December 2017</td>
                        <td class="table-cards__text"><i class="fas fa-arrow-right"></i></td>
                    </tr>
                    <tr class="table-cards__row">
                        <td class="table-cards__text">The Ramayana: A Shortened Modern Prose Version of the Indian Epic</td>
                        <td class="table-cards__text">Jane Austen and David M. Shapard</td>
                        <td class="table-cards__text">May 2017</td>
                        <td class="table-cards__text"><i class="fas fa-arrow-right"></i></td>
                    </tr>
                    <tr class="table-cards__row">
                        <td class="table-cards__text">Теоретический минимум по Computer Science</td>
                        <td class="table-cards__text">Владстон Феррейра Фило</td>
                        <td class="table-cards__text">December 2018</td>
                        <td class="table-cards__text"><i class="fas fa-arrow-right"></i></td>
                    </tr>
                    <tr class="table-cards__row">
                        <td class="table-cards__text">Benjamin Franklin: An American Life</td>
                        <td class="table-cards__text">Walter Isaacson</td>
                        <td class="table-cards__text">December 2017</td>
                        <td class="table-cards__text"><i class="fas fa-arrow-right"></i></td>
                    </tr>
                    <tr class="table-cards__row">
                        <td class="table-cards__text">The Ramayana: A Shortened Modern Prose Version of the Indian Epic</td>
                        <td class="table-cards__text">Jane Austen and David M. Shapard</td>
                        <td class="table-cards__text">May 2017</td>
                        <td class="table-cards__text"><a href="#"><i class="fas fa-arrow-right"></i></a></td>
                    </tr>
                    <tr class="table-cards__row">
                        <td class="table-cards__text" colspan="4"><a class="button-type-two button-type-two_width" href="#">Load more ...</a></td>
                    </tr>
                </tbody>

            </table>



        </div>

    </div>
</main>